
  
  .img-prop {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    display: block;
  }
  
  .main-grid {
    width: 95%;
    margin: 0 auto;
  }
  
  .card-item {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }
  
  .card-description {
    font-size: 0.7rem;
    color: #666;
    margin: 0;
  }
  
  .video-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Or 4 / 3, depending on your video format */
    object-fit: contain; 
    border-radius: 4px;
  }
  
  .video-thumb {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    max-width: 160px;
    min-width: 100px;
    margin-right: 12px;
  }
  
  .download-icon {
    font-size: 1.8rem;
    color: var(--ion-color-primary);
    cursor: pointer;
    padding-left: 8px;
  }
  .desc-dow{
    display: flex;
    align-items: center;
  }
  
  