<ion-content class="login-container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <div class="login-card">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="text-center">Login</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Email Input -->
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" [(ngModel)]="email" required></ion-input>
              </ion-item>

              <!-- Password Input -->
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="password" required></ion-input>
              </ion-item>

              <!-- Login Button -->
              <ion-button expand="block" color="primary" (click)="login()">Login</ion-button>

              <!-- Additional Links -->
              <div class="additional-links">
                <a routerLink="/forgot-password">Forgot Password?</a>
                <a routerLink="/register">Register</a>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
