
.img-prop {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  display: block;
}

.main-grid {
  width: 95%;
  margin: 0 auto;
}

.card-item {
  margin-bottom: 35px;
  align-items: flex-start;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.card-description {
  font-size: 1em;
  color: #666;
  margin: 0;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Or 4 / 3, depending on your video format */
  object-fit: contain; 
  border-radius: 4px;
}

.video-thumb {
  flex: 0 0 auto;
  width: 30vw;
  max-width: 150px;
  min-width: 100px;
  margin-right: 12px;
}

.download-icon {
  font-size: 1.5rem;
  color: var(--ion-color-primary);
  cursor: pointer;
  padding-left: 8px;
}
