<app-menu></app-menu>

<ion-content class="video-page">

  <div class="responsive-container">

    <!-- Video Card -->
    <div class="video-card">
      <video
        [src]="sections.videoURL"
        class="video-thumbnail"
        controls
        [poster]="sections.image">
      </video>
    </div>

    <!-- Info Box -->
    <div class="video-info">
      <h2 class="card-title">Video Title</h2>
      <p class="card-description">'This is a calming and strengthening pilates session to energize your bodyalming and strengthening pilates session to energize your bodyalming and strengthening pilates session to energize your bodyalming and strengthening pilates session to energize your bodyalming and strengthening pilates session to energize your bodyalming and strengthening pilates session to energize your bodyalming and strengthening pilates session to energize your bodyalming and strengthening pilates session to energize your bodyalming and strengthening pilates session to energize your body.'</p>
    </div>

  </div>

</ion-content>