<ion-content>
  <ion-header >
    <ion-toolbar>
      <img src="../../assets/pilates.webp" alt="" style="width: 100%;object-fit: cover;">
    </ion-toolbar>
  </ion-header>
</ion-content>
  <ion-grid [fixed]="true" style="width: 95%; margin: 0 auto;">
    <ion-row>
      <ion-col size="12" >
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Some content here.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
